# Python virtual environments
.venv/
venv/

# Bytecode and caches
__pycache__/
*.py[cod]
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# OS junk files
.DS_Store

# Model checkpoints
*.h5
checkpoints/
